# Expo / React Native
.expo/
.expo-shared/
.eas/

# Node modules & build outputs
node_modules/
android/
ios/
build/
dist/

# Env and secrets
.env
.env.local

# Logs and caches
npm-debug.log*
yarn-error.log*
.DS_Store
